html,
body {
  margin: 0;
  padding: 0;
}

/* Header y navegación */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(15, 15, 15);
  color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 6;
  box-shadow:
    inset 0 -3em 3em rgba(46, 46, 46, 0),
    0 0 0 2px rgb(24, 24, 24),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.281);
}

#logo {
  padding-left: 50px;
}

.header-right {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-right .enlace {
  padding: 25px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0),
    0 0 0 2px rgb(19, 19, 19),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.281);
}

.header-right .enlace:hover {
  color: rgb(230, 230, 230);
  text-decoration: none;
  background-color: rgb(135, 148, 112);
}

/* Landing page principal */

.landing-section {
  margin: 0;
  padding: 200px;
  justify-content: center;
  align-items: center;
  height: 800px;
  background-image: url("./img/background.png");
  background-size: cover;
}

.landing-section h1 {
  display: inline;
  margin: 0;
  font-size: 4em;
  color: #fff;
  text-shadow: 1px 1px #000;
}

.landing-section .buttons {
  z-index: 3;
  display: flex;
  margin-top: 20px;
  cursor: pointer;
}

.landing-section .buttons .enlace {
  padding: 10px 20px;
  font-size: 1.3em;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 20px;
  border: #fff 2px solid;
}

.landing-section .buttons .enlace:hover {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0);
  border: #fff 2px solid;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
  margin-right: 20px;
}

/* Menus */

/* .menu-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 800px;
  padding: 8%;
} */

/* .menu-item {
  padding-top: 4%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
} */

.menu-container {
  margin-top: 100px;
  width: 50%;
  text-align: center;
}

.menu-container img {
  margin-top: 2%;
  width: 60%;
  height: auto;
}

/* Formulario */

form {
  padding: 4% 3% 3% 3%;
  margin: 10% 0% 0% 16%;
  width: 80%;
  text-align: left;
  font-size: 0.85em;
  font-family: Arial, sans-serif;
  box-shadow: inset 0 -3em 3em rgb(0 0 0 / 0%),
    0 0 0 2px rgb(255 255 255 / 25%),
    0.3em 0.3em 1em rgb(0 0 0 / 28%);
}

h1 {
  margin-bottom: 30px;
  font-size: 36px;
  color: rgb(46, 75, 19);
}

form img {
  margin-left: 2%;
  width: 10%;
}

.form-check {
  display: inline-block;
  margin-left: 0px;
}

.form-group {
  margin: 1%;
}

.guardar {
  padding: 2% 5%;
  font-size: 1.3em;
  background-color: rgb(164, 196, 155);
  border-radius: 15px;
}

.cancelar {
  background-color: rgb(160, 160, 160);
  padding: 1% 3%;
  font-size: 0.9em;
  border-radius: 8px;
  margin-left: 2%;
}

.guardar:hover {
  background-color: rgba(164, 196, 155, 0.568);
}

.cancelar:hover {
  background-color: rgb(202, 202, 202);
}

.alergeno-mensaje {
  padding: 2%;
  background-color: rgba(255, 0, 0, 0.116);
  border: 1px solid rgba(255, 0, 0, 0.685);
  border-radius: 15px;
  color: rgb(58, 0, 0);
}

/* Calendario */

.calendar-section {
  height: 800px;
  display: flex;
  align-items: center;
  align-content: center;
  margin: 5%;
  padding: 5%;
}

.calendar-section h1 {
  font-size: 3em;
  color: rgb(76, 97, 62);
  text-shadow: 1px 1px #000;
  margin-bottom: 5%;
}

.item-verde {
  position: absolute;
  background-color: rgba(62, 94, 56, 0.589);
  width: 85%;
  height: 30%;
  z-index: -1;
  margin-top: 9%;
  margin-left: -1%;
  border-radius: 15px;
}

.verde {
  background-color: rgb(122, 145, 83);
  border-radius: 4px;
}

.verde:hover {
  background-color: rgb(161, 179, 131);
  border-radius: 4px;
}

.amarillo {
  background-color: rgb(255, 255, 104);
  border-radius: 4px;
}

/* .amarillo:hover {
  background-color:rgba(255, 255, 104, 0.678);
  border-radius: 4px;
} */

.rojo {
  background-color: rgb(180, 52, 52);
  border-radius: 4px;
}

.rojo:hover {
  background-color: rgba(180, 52, 52, 0.521);
  border-radius: 4px;
}

.verde a,
.amarillo a,
.rojo a {
  text-decoration: none;
  color: inherit;
}

.image-content {
  position: absolute;
  display: flex;
  justify-content: right;
  width: 80%;
}

.image-content img {
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.068),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.281);
}

img.food1 {
  z-index: 2;
  width: 20%;
  padding: 0% 0% 0% 0%;
  margin: -5% 16% 0% 0%;
}

img.food2 {
  position: absolute;
  z-index: 2;
  width: 17%;
  padding: 0% 0% 0% 0%;
  margin: 8% 39% 0% 0%;
}

img.food3 {
  position: absolute;
  z-index: 3;
  width: 17%;
  padding: 0% 0% 0% 0%;
  margin: 9% -4% 0% 0%;
}

/* Varios */

.line {
  position: absolute;
  padding-left: 11%;
}

.line img {
  width: 0.45%;
}

.introduce {
  position: absolute;
  display: inline;
  color: #fff;
  padding: 0% 40% 0% 13.5%;
}

.example {
  position: absolute;
  display: flex;
  justify-content: right;
}

.example img {
  padding: 0% 6% 0% 1%;
  width: 40%;
}

/* tooltip */

#tooltip {
  font-size: 1em;
  z-index: 3;
  background-color: wheat;
  display: flex;
  position: absolute;
  border-radius: 10px;
  border-bottom: 1px solid rgb(110, 29, 29);
  text-align: center;
  padding: 2%;
}

/* About us */

.about-section {
  width: 100%;
  height: 800px;
}

img.banner {
  width: 94%;
  height: auto;
  padding: 4% 0% 5% 8%;
  object-fit: cover;
  object-position: center center;
}

.about-section h1 {
  font-size: 3em;
  color: rgb(76, 97, 62);
  text-shadow: 1px 1px #000;
  margin-bottom: 5%;
}

.about img {
  width: 60%;
  padding: 2% 0% 3% 10%;
}

.about p {
  width: 60%;
  padding: 2% 0% 3% 10%;
}